In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('tree.csv')

In [7]:
df.head(50)

      1      2    3     4    sum Unnamed: 5
0   201  10018  250  3046  13515        yes
1   205  10016  395  3044  13660        yes
2   257  10129  109  3251  13746        yes
3   246  10064  324  3137  13771        yes
4   117  10115  496  3094  13822        yes
5   406  10187  166  3068  13827        yes
6   461  10252  172  3062  13947        yes
7   158  10192  144  3469  13963        yes
8   136  10376  230  3223  13965        yes
9   194  10092  626  3083  13995        yes
10  427  10404  137  3029  13997        yes
11  151  10203  411  3257  14022        yes
12  338  10074  432  3246  14090        yes
13  362  10403  257  3073  14095        yes
14  108  10451  336  3238  14133        yes
15  315  10005  302  3516  14138        yes
16  193  10289  629  3040  14151        yes
17  279  10308  199  3426  14212        yes
18  120  10198  233  3665  14216        yes
19  246  10176  717  3079  14218        yes
20  226  10232  659  3105  14222        yes
21  115  10167  538  3426  14246        yes
22  497  10057  475  3253  14282        yes
23  449  10284  512  3044  14289        yes
24  289  10127  140  3742  14298        yes
25  313  10555  178  3272  14318        yes
26  411  10126  272  3518  14327        yes
27  244  10665  246  3195  14350        yes
28  228  10080  401  3642  14351        yes
29  274  10452  603  3024  14353        yes
30  366  10026  139  3827  14358        yes
31  227  10143  255  3746  14371        yes
32  217  10565  113  3497  14392        yes
33  324  10062  722  3288  14396        yes
34  160  10243  307  3706  14416        yes
35  202  10495  459  3273  14429        yes
36  426  10150  477  3397  14450        yes
37  185  10394  142  3732  14453        yes
38  258  10017  436  3761  14472        yes
39  245  10379  251  3607  14482        yes
40  144  10529  114  3700  14487        yes
41  310  10215  255  3761  14541        yes
42  143  10202  412  3803  14560        yes
43  277  10503  313  3476  14569        yes
44  180  10806  388  3224  14598        yes
45  230  10329  973  3078  14610        yes
46  265  10949  281  3120  14615        yes
47  135  10486  755  3242  14618        yes
48  166  10100  233  4123  14622        yes
49  148  10395  106  3986  14635        yes

In [8]:
df.shape

(1000, 6)