In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('OHLC.csv')

In [3]:
df.head()

   S.no  Symbol            Date   Open   High    Low  Close     Vol
0     0  ACEDBL  2012-01-01.csv  114.0  113.0  112.0  113.0   1,962
1     1  ACEDPO  2012-01-01.csv  188.0  114.0  114.0  114.0  10,000
2     2    ADBL  2012-01-01.csv  115.0  115.0  113.0  114.0   1,111
3     3    AHPC  2012-01-01.csv  319.0  319.0  312.0  312.0     377
4     4   ALDBL  2012-01-01.csv  102.0  101.0  101.0  101.0      30

In [4]:
from pandas_profiling import ProfileReport

In [5]:
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [6]:
df.dropna()

        S.no  Symbol            Date   Open   High    Low  Close     Vol
0          0  ACEDBL  2012-01-01.csv  114.0  113.0  112.0  113.0   1,962
1          1  ACEDPO  2012-01-01.csv  188.0  114.0  114.0  114.0  10,000
2          2    ADBL  2012-01-01.csv  115.0  115.0  113.0  114.0   1,111
3          3    AHPC  2012-01-01.csv  319.0  319.0  312.0  312.0     377
4          4   ALDBL  2012-01-01.csv  102.0  101.0  101.0  101.0      30
...      ...     ...             ...    ...    ...    ...    ...     ...
250896   117     TRH  2020-03-22.csv  206.0  206.0  202.0  206.0   1,575
250897   118     UIC  2020-03-22.csv  313.0  313.0  301.0  307.0     636
250898   119    UMHL  2020-03-22.csv  100.0  100.0  100.0  100.0     519
250899   120    UPCL  2020-03-22.csv   73.0   73.0   73.0   73.0      10
250900   121   UPPER  2020-03-22.csv  230.0  230.0  225.0  227.0   2,893

[250761 rows x 8 columns]

In [7]:
cols_to_remove = ['S.no', 'Date']

In [8]:
df.drop(labels=cols_to_remove, axis=1, inplace=True)

In [9]:
df.head()

   Symbol   Open   High    Low  Close     Vol
0  ACEDBL  114.0  113.0  112.0  113.0   1,962
1  ACEDPO  188.0  114.0  114.0  114.0  10,000
2    ADBL  115.0  115.0  113.0  114.0   1,111
3    AHPC  319.0  319.0  312.0  312.0     377
4   ALDBL  102.0  101.0  101.0  101.0      30

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
a = df['Symbol'].unique()

In [12]:
len(a)

523

In [14]:
df.head()

   Symbol   Open   High    Low  Close     Vol
0  ACEDBL  114.0  113.0  112.0  113.0   1,962
1  ACEDPO  188.0  114.0  114.0  114.0  10,000
2    ADBL  115.0  115.0  113.0  114.0   1,111
3    AHPC  319.0  319.0  312.0  312.0     377
4   ALDBL  102.0  101.0  101.0  101.0      30

In [ ]:
my_imputer = SimpleImputer()

In [ ]:
imputed_df = pd.DataFrame(my_imputer.fit_transform(df))